[submodule "Hardware/Thor"]
	path = Hardware/Thor
	url = https://github.com/nathanshaw/Thor.git
[submodule "Hardware/Theia"]
	path = Hardware/Theia
	url = https://github.com/nathanshaw/Theia
[submodule "Hardware/Brigid"]
	path = Hardware/Brigid
	url = https://github.com/nathanshaw/Brigid
[submodule "Hardware/Homados"]
	path = Hardware/Homados
	url = https://github.com/nathanshaw/Homados
[submodule "Hardware/Hermes"]
	path = Hardware/Hermes
	url = https://github.com/nathanshaw/Hermes
